.primaryBackground{
    -fx-background-color: #2f3137;
}

#filterFiller {
    -fx-background-color: d0d0d0;
    -fx-opacity: 0.45;
}

#filterRectangle {
    -fx-fill: TRANSPARENT;
    -fx-stroke: #00c1ff;
}

#filterCircle {
    -fx-fill: TRANSPARENT;
    -fx-stroke: #00c1ff;
}

#avatarCircle {
    -fx-fill: TRANSPARENT;
    -fx-stroke: #fff;
    -fx-stroke-width: 2;
    -fx-stroke-type: CENTERED;
}

.menuButton {
    -fx-text-fill: #ffffff;
    -fx-background-color: #242526;
    -fx-background-radius: 6px;
}

.menuButton:hover {
    -fx-opacity: 0.9;
    -fx-cursor: hand;
}

.primaryButton {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);

    -fx-text-fill: #ffffff;
    -fx-background-color: #5581d5;
    -fx-background-radius: 6px;
}

.primaryButton:hover {
    -fx-background-color: #3b74e0;
    -fx-opacity: 0.9;

    -fx-cursor: hand;
}

.cancelButton {
    -fx-text-fill: #ffffff;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 6px;

    -fx-border-width: 1 1 1 1;
    -fx-border-color: RED;

    -fx-border-radius: 6px;
}

.cancelButton:hover {
    -fx-background-color: #ff3737;
    -fx-opacity: 0.8;

    -fx-cursor: hand;
}



